<!-- Include header -->
<%- include('../partials/header', {title: title}); %>
<div class="request-add-section">
    <div class="request-add-section-header p-3">
        <a href="/"><i class="fas fa-arrow-left text-white"></i></a>
        <h3 class="text-white">Request for Medicines</h3>
    </div>
    <div class="request-add-form-section p-3">
        <form action="/requests" method="POST">
            <div class="form-group p-3 bg-light">
              <h5><label for="name">Name</label></h5>
              <input type="text" class="form-control" id="name" placeholder="Name" value="Panadol">
            </div>
            <div class="form-group p-3 bg-light">
                <h5><label for="contents">Contents</label></h5>
                <input type="text" class="form-control" id="contents" placeholder="Contents" value="Paracetmol">
            </div>
            <div class="form-group p-3 bg-light">
                <h5><label for="quantity">Quantity</label></h5>
                <input type="number" class="form-control" id="quantity" placeholder="Quantity" min="1" step="1" value="5">
            </div>
            <div class="form-group p-3 bg-light">
                <h5><label for="max-temperature">Max Temperature (<sup>o</sup>C)</label></h5>
                <input type="number" class="form-control" id="max-temperature" placeholder="Max Temperature" min="1" step="1" value="3">
            </div>
            <div class="form-group p-3 bg-light">
                <h5><label for="max-humidity">Max Humidity (g/Kg)</label></h5>
                <input type="number" class="form-control" id="max-humidity" placeholder="Max Humidity" min="1" step="1" value="22">
            </div>

            <div class="form-group p-3 bg-light">
                <h5><label for="manufacture-date">Manufacture Date</label></h5>
                <input type="date" class="form-control" id="manufacture-date">
            </div>
            <div class="form-group p-3 bg-light">
                <h5><label for="expiration-date">Expiration Date</label></h5>
                <input type="date" class="form-control" id="expiration-date">
            </div>
            <div class="form-group p-3 bg-light">
                <h5><label for="supplier">Supplier</label></h5>
                <input type="text" class="form-control" id="supplier" placeholder="Supplier" readonly>
            </div>
            <button type="submit" id="btn-submit" class="btn btn-red btn-block">Send Request</button>
        </form>
    </div>
</div>
<!-- Include footer -->
<% include ../partials/footer %>
<script src="/javascript/add.js"></script>