<!-- Include header -->
<%- include('../partials/header', {title: title}); %>
<% if( request.status == 0 ) { %>
    <div class="request-read-section p-3 status-pending">
<% } %> 
<% if( request.status == 1 ) { %>
    <div class="request-read-section p-3 status-in-transit">
<% } %> 
<% if( request.status == 2 ) { %>
    <div class="request-read-section p-3 status-completed">
<% } %>
    <a href="/"><i class="fas fa-arrow-left text-white"></i></a>
    <div class="request-information mb-3">
        <h6 class="d-inline pr-1">Request ID:</h6>
        <p class="d-inline font-weight-normal text-white"><%= requestId %></p>
        <br>
        <h6 class="d-inline pr-1">Status:</h6>
        <% if( request.status == 0 ) { %>
            <p class="d-inline font-weight-normal text-white">Pending</p>
        <% } %> 
        <% if( request.status == 1 ) { %>
            <p class="d-inline font-weight-normal text-white">In Transit</p>
        <% } %> 
        <% if( request.status == 2 ) { %>
            <p class="d-inline font-weight-normal text-white">Completed</p>
        <% } %>
    </div>
    <div class="request-sensor-information mb-3">
        <h3 class="d-inline pr-1">Current Temperature</h3>
        <h3 class="d-inline font-weight-normal text-white">22<sup>o</sup>C</h3>
    </div>
    <div class="request-location-information">
        <div class="row">
            <div class="col">
                <h6 class="m-0">From</h6>
                <h3 class="m-0"><%= request.start_name %></h3>
                <p class="m-0 text-white"><%= request.start_location %></p>
            </div>
            <div class="col">
                <h6 class="m-0">To</h6>
                <h3 class="m-0"><%= request.end_location %></h3>
                <p class="m-0 text-white"><%= request.end_name %></p>
            </div>
        </div>
    </div>
</div>
<div id="map-tracking"></div>
<a href="/requests/<%= requestId %>/scancode" id="scan-qr-code" class="btn btn-red btn-block" disabled>Scan QR Code</a>
<!-- Include footer -->
<% include ../partials/footer %>
<script src="/javascript/mapTracking.js"></script>