<!-- Include header -->
<%- include('../partials/header', {title: title}); %>
  <a href="/requests/<%= requestId %>" class="position-fixed p-3" style="z-index: 1"><i class="fas fa-arrow-left text-white"></i></a>
  <div class="qr-scanner-section">
      <div>
          <video id="video" width="100%" height="100%"></video>
      </div>
    
      <div id="sourceSelectPanel" style="display:none">
        <label for="sourceSelect">Change video source:</label>
        <select id="sourceSelect" style="max-width:400px">
        </select>
      </div>
      
      <!-- <label>Result:</label>
      <pre><code id="result"></code></pre> -->
  </div>

  <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
  <script type="text/javascript">
    function decodeOnce(codeReader, selectedDeviceId) {
      codeReader.decodeFromInputVideoDevice(selectedDeviceId, 'video').then((result) => {
        var firebaseConfig = {
          apiKey: "AIzaSyCKQEwiIRISuj1VCJXtWK_A0o0RhF4N-vA",
          authDomain: "infive-d922e.firebaseapp.com",
          databaseURL: "https://infive-d922e.firebaseio.com",
          projectId: "infive-d922e",
          storageBucket: "",
          messagingSenderId: "1000008834199",
          appId: "1:1000008834199:web:f8a1b134197ad4776e1dd2"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        // console.log('<%= requestId %>');
        firebase.database().ref('/journey/<%= requestId %>/').update({status: 2}).then(result => {
          console.log(result);
          window.location.replace('/');
        });
        console.log(result)
        // document.getElementById('result').textContent = result.text
      })
      .catch((err) => {
        console.error(err)
        // document.getElementById('result').textContent = err
      })
    }
    window.addEventListener('load', function () {
      let selectedDeviceId;
      const codeReader = new ZXing.BrowserQRCodeReader()
      console.log('ZXing code reader initialized')
      codeReader.getVideoInputDevices()
        .then((videoInputDevices) => {
          const sourceSelect = document.getElementById('sourceSelect')
          selectedDeviceId = videoInputDevices[0].deviceId
          if (videoInputDevices.length >= 1) {
            videoInputDevices.forEach((element) => {
              const sourceOption = document.createElement('option')
              sourceOption.text = element.label
              sourceOption.value = element.deviceId
              sourceSelect.appendChild(sourceOption)
            })
            sourceSelect.onchange = () => {
              selectedDeviceId = sourceSelect.value;
            };
            const sourceSelectPanel = document.getElementById('sourceSelectPanel')
            // sourceSelectPanel.style.display = 'block'
          }
          decodeOnce(codeReader, selectedDeviceId);
        })
        .catch((err) => {
          console.error(err)
        })
    })
  </script>
<!-- Include footer -->
<% include ../partials/footer %>