<!-- Include header -->
<%- include('./partials/header', {title: title}); %>
<div class="container">
  <div class="dashboard-section m-3">
    <div class="information-section mb-3">
      <h1 class="m-0">Life Pharmacy</h1>
      <p class="m-0">ID: <span>1234567890</span></p>
      <p class="m-0">Bur Dubai, Dubai</p>
    </div>
    <div class="request-options m-3">
      <div class="row">
        <a href="/requests/new" class="col-12 pl-0 pr-1">
          <div class="request-option p-3 text-white text-center pt-5">
            <i class="fas fa-syringe fa-3x mb-3"></i>
            <h4>Order Medicine</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="pending-request-section">
      <h3>Track Orders</h3>
      <div class="pending-requests">
       
      </div>
    </div>
  </div>

</div>
<!-- Include footer -->
<% include ./partials/footer %>
<script src="/javascript/dashboard.js"></script>