<!-- Include header -->
<%- include('./partials/header', {title: title}); %>
<div class="login-section p-3">
    <div class="login-header text-center">
        <img src="images/Logo.png" class="img-fluid w-25 mb-3" alt="Responsive image">
        <h1 class="text-white">VITA</h1>
    </div>
    <a class="btn btn-lg btn-primary btn-block">Login</a>        
</div>
<!-- Include footer -->
<% include ./partials/footer %>