/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a:link{
  color: white;
  text-decoration: none!important;
}

/* Import font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #A2A2A2;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

.request-option{
min-height: 200px;
/* min-width: 200px; */
border-radius: 10px;
background-image: linear-gradient(180deg, #ff217a 0%, #ff4d4d 100%);
}

/* a {
  text-decoration: none !important;
} */

.fa-info-circle, .fa-question-circle {
  color: #A2A2A2;
}

.pending-request {
  background-color: #F6F6F6;
}
.status-failed{
  background-image: linear-gradient(180deg, #ff217a 0%, #ff4d4d 100%);
}
.status-pending {
  background-image: linear-gradient(180deg, #ff217a 0%, #ff4d4d 100%);
}

.status-in-transit {
  background-image: linear-gradient(180deg, #ffc84d 0%, #ffd421 100%);
}

.status-completed {
  background-image: linear-gradient(180deg, #8cd600 0%, #b0d900 100%);
}

.request-read-section {
min-height: 350px;
border-radius: 0 0 10px 10px;
/* background-image: linear-gradient(180deg, #ffc84d 0%, #ffd421 100%); */
}

.request-add-section-header {
border-radius: 0 0 10px 10px;
background-image: linear-gradient(180deg, #ff217a 0%, #ff4d4d 100%);
z-index: 1;
}

#map-tracking{
width:100%;
height:60vh;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-red {
  color: white;
  background-image: linear-gradient(180deg, #ff217a 0%, #ff4d4d 100%);
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.login-section {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #ff217a 0%, #ff4d4d 100%);
}